<!DOCTYPEhtml>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>ServerProgramming</title>
	<meta http-equiv="Content-Type" content="text/html; charset-UTF-8" />
</head>
<body>

	<div th:text="'ID ' + ${ID}">Just message!</div>
	<div th:text="'Title ' + ${Title}">Just message!</div>
	<div th:text="'Author ' + ${Author}">Just message!</div>
	<div th:text="'Isbn ' + ${Isbn}">Just message!</div>
	<div th:text="'Price ' + ${Price}">Just message!</div>
    <div th:text="'Category ' + ${Category}">Just category!</div>
    <div th:text="'Category Id' + ${CategoryId}">Just category!</div>

</body>
</html>